{% extends "template.html" %}
{% block title%}View Queries{%endblock%}
{% block content %}
{#     {% include "_query_form.html" %} #}


    <h4>Queries in the system now:</h4>
    <ul>
        {% for query in queries %}
            <li>{% include "_query.html" %}
                {% if user %} –
                    {% if query.subscribed %}
                        <a href='#' id='{{query.key}}' class='unsubscribe'>unsubscribe</a>
                    {% else%}
                        <a href='#' id='{{query.key}}' class='subscribe'>subscribe</a>
                    {% endif%}
                {% endif%}
            </li>
        {% endfor %}
    </ul>
    
    <a href='/query/edit/'>Create a new query</a>
    
    {% if prefs.subscribedQueries %}
        <h4>Your subscriptions</h4>
        <ul>
            {% for query in prefs.subscribedQueries %}
                <li>{% include "_query.html" %}</li>
            {% endfor%}
        </ul>
    {% endif %}
    
    <script type="text/javascript" charset="utf-8">
        post_key_to = function(subscription_type) {
            return function(){
                key = this.id;
                $.post('/query/' + subscription_type + "/", {"key":key}, function() {this.html = subscription_type + "ed";}, function() {alert('unsuccessful!');});
                return false; //stop the link from being visited
            }
        }
        $("a.subscribe").click(post_key_to('subscribe'));
        $("a.unsubscribe").click(post_key_to('unsubscribe'));
    </script>
    

{% endblock %}