<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} – launchdate</title>
        <link href="/styles/site.css" media="screen" rel="Stylesheet" type="text/css" />
        <script src="/javascript/jquery-1.2.3.min.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class='login'>
            {%if user %}
                {{user.nickname}} 
                | <a href='/calendar/personal.ics?secret={{prefs.getSecret}}'>calendar</a>
                | <a href='{{logout_url}}'>logout</a>
            {%else%}
                <a href='{{login_url}}'>login</a>
            {%endif%}
        </div>
        <div class='main'>
            {% block content %}
            {% endblock %}            
        </div>
    </body>
</html>